*{
    background-color: skyblue;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}

p {
    width: 50%;
    margin: auto;
    padding: 10px;
    background-color: white;
}

h3 {
    background-color: white;
}

div {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 50%;
}