<!-- project/templates/project/create_profile_form.html 
 This is the page where users can create a new profile.
 -->
{% extends "project/base.html" %}

{% block content %}

<h2>Create a Profile</h2>
<p>Fill in the form below to create your new profile</p>
<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in user_form %}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}


        {% for field in form %}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
    </table>

    <input type='submit' name = 'Create Profile!' value= 'Create Profile!'>
</form>
<form method="GET" action="{% url 'show_all_items' %}">
    {% csrf_token %}
    <input type='submit' name = 'cancel' value= 'Cancel'>
</form>


{% endblock %}
