{% extends 'project/base.html' %}


{% block content %}
<h2>{{ item.item_name }}
    {% if item.is_sold %}
    <span class="sold">SOLD
    </span>
    {% endif %}
</h2>
<a href="{% url 'show_all_items' %}" class="back">Back to all items</a>
<div class="item-page">
    <div>
        {% for img in item.get_images %}
        <img src="{{ img.image_file.url }}" alt="{{ img.image_file.url }}">
        {% endfor %}
    </div>
    <div>
        <p>Description: {{ item.description }}</p>
        <p>Category: {{ item.type_of_item }}</p>
        <p>Price: ${{ item.price }}</p>
        <p>
            Seller: 
            <a href="{% url 'show_user' item.seller.pk %}">
                {{ item.seller.username }}
            </a>
        </p>
            <p>Posted: {{ item.timestamp }}</p>
            {% if item.is_sold %}
            <p>Sold to: 
                <a href="{% url 'show_user' item.buyer.pk %}">
                    {{ item.buyer.username }}
                </a>
            </p>
            {% endif %}
        </div>
        {% if item.seller.user == request.user %}
        <a href="{% url 'edit_listing' item.pk %}">Update Listing</a>
        {% endif %}
    </div>
</div>
<h2>Review</h2>
{% if item.get_review %}
<div class="reviews">
    {% for review in item.get_review %}
    <div class="review">
        <p>{{ review.review_text }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Posted by: {{ review.reviewer.username }}</p>
        <p>Posted: {{ review.timestamp }}</p>
    </div>
    {% endfor %}
{% else %}
<h3>No reviews yet</h3>
{% endif %}
{% endblock %}