{% extends 'project/base.html' %}


{% block content %}
<div>
    <h2>Seller</h2>
    <h3>{{ user.username }}</h3>
    <p>Items for sale: {{ user.item_set.count }}</p>
    <p>Member since: {{ user.created_at }}</p>
    <p>Rating: {{ user.get_ratings }}</p>
    <p>City: {{ user.city }}</p>
    <p>Email: {{ user.email_address }}</p>
    <div class="item-images">
        {% if user.profile_image_url.url %}
        <img src="{{ user.profile_image_url.url }}" alt="Image of {{ user.username }}">
        {% else %}
        <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No image available">
        {% endif %}
    </div>
</div>

{% endblock %}