<!-- project/templates/project/show_all_users.html
 This is the page where users can view all other users.
 -->
{% extends 'project/base.html' %}

{% block content %}
<h2>View other users</h2>
{% include 'project/user_filter.html' %}
<div class="items-container">
    {% for profile in profiles %}
        <a href="{% url 'show_user' profile.pk %}" class="item-link">
        <div class="item">
            <h3>{{ profile.username }}</h3>
            <p>Items for sale: {{ profile.item_set.count }}</p>
            <p>Member since: {{ profile.created_at }}</p>
            <p>Rating: {{ profile.get_ratings }}</p>
            <p>City: {{ profile.city }}</p>
            <p>Email: {{ profile.email_address }}</p>
            <div class="item-images">
                {% if profile.profile_picture.url %}
                    <img src="{{ profile.profile_picture.url }}" alt="Image of {{ profile.username }}">
                {% else %}
                    <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No image available">
                {% endif %}
            </div>
        </div>
        </a>
    {% endfor %}
</div>


{% endblock %}