{% extends 'project/base.html' %}


{% block content %}
<h2>Items for sale</h2>
{% include 'project/filter.html' %}
<div class="items-container">
    {% for item in items %}
    <a href="{% url 'show_item' item.pk %}" class="item-link">
        <div class="item">
            <h3>{{ item.item_name }}</h3>
            <p>Price: ${{ item.price }}
            {% if item.is_sold %}
                <span class="sold">SOLD</span>
            {% endif %}
            </p>
            <p>Seller: {{ item.seller.username }}</p>
            <p>Posted: {{ item.timestamp }}</p>
            <div class="item-images">
                {% if item.get_images %}
                    <img src="{{ item.get_images.0.image_file.url }}" alt="Image of {{ item.item_name }}">
                {% else %}
                    <img src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No image available">
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}