{% extends "mini_fb/base.html" %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="status">
        {% for field in form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Images</th>
            <td>
                <input type="file" name="files" multiple>
            </td>
        </tr>
    </table>
    <input type="submit" name="Create Status!" value="Create Status!">
</form>
<form method="GET" action="{% url 'show_profile' profile.pk %}">
    <input type='submit' name = 'cancel' value= 'Cancel'>
</form>


{% endblock %}