{% extends "mini_fb/base.html" %}

{% block content %}

<h2>Create a Profile</h2>
<p>Fill in the form below to create your new profile</p>
<form method = 'POST'>
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type='submit' name = 'Create Profile!' value= 'Create Profile!'>
            </td>
        </tr>
</form>


{% endblock %}
