{% extends "mini_fb/base.html" %}

{% block content %}

<h2>Update Status Message</h2>
<p>Fill in the form below to update the status message</p>
<form method = 'POST'>
    {% csrf_token %}
    <table class="profile">
        {% for field in form %}
        <tr>
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr>
        {% endfor %}
    </table>
    <input type='submit' name = 'update_sm' value= 'Update Status Message!'>
</form>
<form method="GET" action="{% url 'show_profile' status_message.profile.pk %}">
    <input type='submit' name = 'cancel' value= 'Cancel'>
</form>


{% endblock %}
