* {
    background-color: aquamarine;
    text-align: center;
    font-family: Arial, sans-serif;
}

nav {
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

td:last-child {
    width: 20%;
}

.profile {
    width: 50%;
    margin: auto;
}

.profile td:last-child {
    width: 50%;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 10px;
}

.status {
    width: 50%;
    margin: auto;
}

.status td:last-child {
    width: 50%;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.singular_profile img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.singular_profile h1 {
    font-size: 20px;
    margin: 5px 0;
}

.singular_profile p {
    font-size: 14px;  
    color: #666;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container div {
    width: 400px;
}


.singular_profile a {
    text-decoration: none; 
    color: white;
    background-color: blue; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block;
    margin: 10px 0;
}

nav a {
    text-decoration: none; 
    color: white;
    background-color: blue; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block;
}

.status_message {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    width: 50%;
    margin: 20px auto;
}

.status_message p {
    margin: 0;
    padding: 5px 0; 
    font-size: 16px; 
    color: blue; 
    background-color: #f9f9f9;
}

.status_message img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
