
.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    row-gap: 30px;
}


.item {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: background-color 1s ease, transform 0.3s ease;
}

.item-images img {
    height: 200px;
    width: auto;
}

.item-link {
    text-decoration: none;
    color: inherit;
}

.item-link:hover .item {
    background-color: #f0f0f0;
    transform: translateY(-10px);
}

.sold {
    color: red;
}

.singular-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singular-item img {
    width: 400px;
    height: auto;
}