* {
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
}

a {
    margin: 10px;
}

img {
    width: 50%;
    height: auto;
}

.order_div {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: white;
}

.order_div * {
    background-color: white;
    margin-top: 5px;
}

.toppingsDropdown {
    display: none;
    text-align: center;
}

.drink:checked ~ .toppingsDropdown {
    display: block;
    margin: auto;
}


.confirm_div {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 25%;
    background-color: white;
}

.confirm_div * {
    background-color: white;
}

footer {
    margin-top: auto;
}

