body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h2, h3, h1 {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    font-size: 1.1em;
    color: blue;
}

header h1 {
    text-align: center; 
    font-size: 2em;
    color: #444;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    color: #333;
}

form select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

form button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
}

.form-group-inline {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Table Styling */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

table tr:last-child td {
    border-bottom: none;
}

.pagination ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current-page {
    font-weight: bold;
    color: #333;
}